section.activity
  .info-block
    padding-bottom: 25px

    .category
      float: left
      padding: 5px 35px
      border-radius: 5px
    .date-block
      background-color: #ffdbb0
      float: right
      padding: 5px 25px
      border-radius: 5px
  .description
    padding-bottom: 25px
